@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular.woff2') format('woff2'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: Roboto-Regular;
}
.container {
	text-align: center;	
} 
h1  {
	font-size: 85px;
	color:#ff4500;
}
.container h2	{
	color:#ff4500;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 0;
}
h3  {
	font-size: 30px;
	text-decoration: underline;
	font-style:italic; 
}
.container {
	width: 100% ;
	background: url("../images/bg.jpg");
	background-size: 3%;
}
.container .top {
	background-color: #fff;
	border: 2px solid #000;
	border-left: none;

}
.container .down {
	border-left: 2px solid #000;
	padding: 20px 20px;
}
.container li {
	list-style: none;
}
.container span {
	font-size: 85px;
}
.container p {
	font-size: 12px;
	width: 80%;
	display: inline-block;
	text-align: justify;
}
figure {
	background-color: #842891;
	color: #fff;
}
.container img {
	width:8%;
}
li {
	display: inline;
	padding-right: 30px;
}